@import url(common.css);
html{scroll-behavior: smooth;}

::-webkit-scrollbar{width: 6px;}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #073099;
}
::-webkit-scrollbar-track{background-color: #fff;}

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Happiness-Sans-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* Top_____________ */
.top{
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
}
.top a{
  display: block;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.35s ease-in-out;
}
.top span{
  position: absolute;
  font-size: 28px;
  display: inline-block;
  left: 26%;
  line-height: 60px;
  color: #fff;
}
.top a:hover{
  width: 60px;
  height: 60px;
}

/* scroll-down */
@keyframes scroll-down{
  10%{
    transform: translateX(-50%);
    opacity: 1;
  }

  50%{
    transform: translate(-50%,8px) ;
    opacity: 0.5;
  }

  100%{
    transform: translateX(-50%);
    opacity: 1;
  }
}
.scroll-down{
  position: absolute;
  text-align: center;
  bottom: -1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 250;
  animation: scroll-down 1.5s linear infinite alternate;
}
.scroll-down span{
  display: inline-block;
  font-size: 40px;
  color: #fff;
  opacity: 0.8;
}
.scroll-down p{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #fff;
}

#cursor {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: difference;
  z-index: 999;
}

@media (hover: hover) and (pointer: fine) {
  .cursor__circle {
    width: 64px;
    height: 64px;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 50%;
    border: solid 1px rgba(227, 222, 193, 0.64);
    transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
      font-size: 24px;
  }
  
  #cursor.arrow .cursor__circle{
    width: 128px;
    height: 128px;
    background-color: yellow;
    border-color: yellow;
  }
  
  #cursor.arrow::after{
    content: '';
    position: absolute;
    left: -50%;
    top: -50%;
    width: 100%;
    height: 100%;
    background-image: url('https://svgshare.com/i/MzQ.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #cursor.subtle .cursor__circle{
    opacity: 0.16;
  }
  
  #cursor.overlay .cursor__circle{
    width: 48px;
    height: 48px;
    background-color: yellow;
    border-color: transparent;
  }
}

@media (hover: hover) and (pointer: fine) {
  .gnb li:hover{
    transform: scale(1.1);
    transition: 0.5s;
  }
    
  section::after{
    display: none;
  }
}

/* header_____________ */
.header{
  width: 100%;
  height: 100vh;
}
nav{
  width: 100%;
  height: 120px;
  background-color: #59C1BD;
  position: relative;
}
nav.active{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 777;
  box-shadow: 0 0 10px #eee;
  background-color: #fff;
}
nav.active .gnb li{
  color: #333;
}
.nav-in{
  width: 80%;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  overflow: hidden;
}
.logo img{
  position: absolute;
  width: 130px;
  height: auto;
  top: 20%;
}

.gnb{
  width: 850px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.gnb li{
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
}
.gnb li:before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2%;
  background-color: #59C1BD;
  transition: 0.7s;
}
.gnb li:hover:before{
 width: 100%;
}

/* main */


.main{
  width: 100%;
  height: 90vh;
  background-color: #59C1BD;
  position: relative;
  overflow: hidden;
}
.main-text{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: auto;
}
.main-text h1{
  width: inherit;
  height: inherit;
  font-family: 'Cafe24Ssurround';
  font-size: 120px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1px;
  color: #fff;
  position: absolute;
  top: 30%;
  z-index: 99;
}
.counter{text-align: right;}
.emoji{
  position: absolute;
  top: 20%;
  margin-left: 30px;
  font-size: 40px;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #023F92;
  width: 50vmax;
  animation: move 15s ease-in-out infinite;
  transform-origin: 50% 50%;
  z-index: 88;
}

@keyframes move {
  0%   { transform: scale(1)   translate(10px, -10px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 10vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 10vh) rotate(160deg); }
  78%  { transform: scale(1.2) translate(0vw, 20vh) rotate(-20deg); }
  80%  { transform: scale(1.2) translate(0vw, 20vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -10px); }
}

/* profile */

#profile{
  position: relative;
  width: 100%;
  height: 100vh;
}
.aboutme{
  width: 70%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.contact p{
  margin-top: 5px;
}

.profile-second{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.personal{
  width: 1;
  height: 650px;
  padding: 30px;
  margin-top: 100px;
  box-shadow: 0 0 10px #ddd;
  background-color: #fff;
  border-radius: 2%;
  position: relative;
}
.personal h2{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #333;
  text-transform: capitalize;
}
.personal>h2{
  position: relative;
  font-size: 60px;
  color: #073099;
}
.personal p{
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.personal h3{
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  color: #333;
  margin-top: 5px;
}
.personal-image{
  width: 100%;
}
.personal-image img{
  display: inline-block;
  width: 400px;
  position: relative;
}
.name p:first-of-type{
  position: absolute;
  top: 30%;
  right: 10%;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}
.name p:last-of-type{
  position: absolute;
  top: 36%;
  right: 10%;
  color: #fff;
  font-size: 12px;
  font-weight: 100;
  text-transform: capitalize;
}
.contact h2{
  position: absolute;
  top: 50%;
  left: 10%;
}
.contact p{
  position: absolute;
  top: 53%;
  left: 10%;
}
.education h2{
  position: absolute;
  top: 58%;
  left: 10%;
}
.education h3{
  font-size: 12px;
}
.education h3:first-of-type{
  position: absolute;
  top: 61%;
  left: 10%;
}
.education p:first-of-type{
  position: absolute;
  top: 64%;
  left: 10%;
}
.education p:nth-of-type(2){
  position: absolute;
  top: 67%;
  left: 10%;
}
.education h3:last-of-type{
  position: absolute;
  top: 70%;
  left: 10%;
}
.education p:last-of-type{
  position: absolute;
  top: 73%;
  left: 10%;
}
.certificate h2{
  position: absolute;
  top: 78%;
  left: 10%;
}
.certificate p:first-of-type{
  position: absolute;
  top: 82%;
  left: 10%;
}
.certificate p:last-of-type{
  position: absolute;
  top: 85%;
  left: 10%;
}
.story{
  width: 70%;
  height: 270px;
  padding: 30px;
  position: relative;
  left: -30px;
  top: 50%;
  color: #333;
}
.story h2{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #333;
  text-transform: capitalize;
}

.story p:first-of-type{
  margin-top: 10px;
  font-size: 20px;
  color: #59C1BD;
  line-height: 1.5em;
  font-weight: 600;
}
.story p:nth-of-type(2){
  font-size: 16px;
  margin-top: 10px;
  text-align: justify;
  line-height: 1.5em;
}
.story p:last-of-type{
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.5em;
}
.skills{
  width: 80%;
  height: 300px;
  padding: 30px;
  margin-top: 85px;
  box-shadow: 0 0 10px #ddd;
  background-color: #fff;
  border-radius: 2%;
  position: relative;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills h2{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #333;
  text-transform: capitalize;
}
.mainskill{
  width: 100%;
}
.etc{
  position: absolute;
  bottom: 10px;
  left: -18px;
  width: 50%;
  margin-left: 50px;
  margin-top: 5px;
}
.etc li{
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 10px;
}
.item{
  width: 100%;
  height: auto;
}
.item p{
  font-size: 14px;
  margin-bottom: 5px;
  overflow: hidden;
}
.item p span:first-child{float: left;}
.item p span:last-child{float: right;}

.progress{
  border: 1px solid #6cd4c4;
  padding: 5px;
  border-radius: 3px;
}
.progress-level{
  height: 10px;
  background: linear-gradient(to right, #073099, #6cd4c4);
  animation: ani 1s;
  animation-fill-mode: both;
}

@keyframes ani{
  0%{
    width: 0;
  }

}

.skill-progress .item:nth-of-type(1) .progress-level{animation-delay: 0s;}
.skill-progress .item:nth-of-type(2) .progress-level{animation-delay: 0.2s;}
.skill-progress .item:nth-of-type(3) .progress-level{animation-delay: 0.4s;}
.skill-progress .item:nth-of-type(4) .progress-level{animation-delay: 0.6s;}
.skill-progress .item:nth-of-type(5) .progress-level{animation-delay: 0.8s;}

.emojititle{
  font-size: 20px;
}


.down{
  position:absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  animation: scroll-down 1.5s linear infinite alternate;
}

#careeraward{
  width: 100%;
  height: 90vh;
  background: linear-gradient(-45deg, #6cd4c4, #59C1BD, #023F92);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient{
  0% {
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%
  }
  100%{
    background-position: 0% 50%;
  }
}

.career{
  width: 70%;
  height: 600px;
  padding: 30px;
  box-shadow: 0 0 10px #ddd;
  border-radius: 2%;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: auto;
  top: 22%;
}
.company h3{
  font-size: 14px;
  font-weight: 400;
  color: #555;
  margin-top: 10px;
}
.company p:first-of-type{
  font-size: 20px;
}
.table h3{
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  text-transform: capitalize;
}
.career p{
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

table{
  width: 100%;
  display: inline-block;
  border: 1px solid #000;
  font-size: 12px;
  margin-top: 10px;
  padding: 5px 10px;
}
thead{
  color: #333;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #000;
}

td{
  padding: 5px;
}

.career h2:nth-of-type(1),
.career h2:nth-of-type(2){
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  text-transform: capitalize;
  color: #073099;
}
.award p{ 
  display: inline-block;
  line-height: 2em;
}
.award a{
  display: inline-block;
  color: #444;
  font-size: 12px;
  font-weight: 400;
}
.award h3{
  margin-top: 5px;
  font-size: 16px;
  color: #333;
  display: inline-block;
}
.vision{
  text-align: center;
  line-height: 1.5em;
  color: #59C1BD
  display: grid;
  grid-auto-rows: 70vh;
  place-items: center;
  padding: 100px 20px;
}
.vision h3{
  line-height: 2em;
  z-index: 888;
}
.minimal {
  display: grid;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
}

.element-1 {
  width: 300px;
  height: 80px;
}

.element-2 {
  width: 300px;
  height: 300px;
}


.lit-container:hover .lit,
.lit-container:focus-within .lit {
  background: hsla(0deg, 0%, 60%, 20%) !important;
}

/* lit --------------------------- */

[data-lit-hue] {
  position: relative;
}

span.lit {
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: blow 2s ease-in infinite;
  transition: all 400ms ease;
}

@keyframes blow {
  0% {
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 0;
  }

  10% {
    transform: translate(-50%, -50%);
    opacity: 0.7;
  }

  100% {
    transform: translate(-50%, -40vh);
    opacity: 0;
  }
}

/* web planning */
#webplanning{
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
#webplanning h1{
  position: relative;
  top: 25%;
  left: 11%;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  text-transform: capitalize;
  color: #073099;
}

@import url("https://fonts.googleapis.com/css?family=Rubik:600&display=swap");

.btn{
  width: 90%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: auto;
  margin-left: 50px;
  margin-top: 230px;
}

.btn li{
  display: inline-block;
  width: 10%;
  height: auto;
  font-size: 15px;
  margin-right: 10px;
  font-family: 'Cafe24Ssurround';
  font-weight: 500;
  color: #59C1BD;
  text-transform: uppercase;
  padding: 1.25em 1.5em;
  background: #CFF5E7;
  border: 2px solid #59C1BD;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  text-align: center;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.btn li::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #a7f1d6;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #59C1BD, 0 0.625em 0 0 #CFF5E7;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.btn li:hover {
  background: #CFF5E7;
  transform: translate(0, 0.25em);
}
.btn li:hover::before {
  box-shadow: 0 0 0 2px #59C1BD, 0 0.5em 0 0 #CFF5E7;
  transform: translate3d(0, 0.5em, -1em);
}
.btn li.active {
  background: #023F92;
  border: 1px solid #023F92;
  transform: translate(0em, 0.75em);
  color: #fff;
}
.btn li.active::before {
  box-shadow: 0 0 0 2px #59C1BD, 0 0 #CFF5E7;
  transform: translate3d(0, 0, -1em);
}

/* TabContent */

.tabContents>div.active{display: block;}
.tabContents div{display: none;}


/* ////////mockup */

.tabContents {
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.mockup .mobile-mockup {
  display: block;
  border: 1px solid #eee;
  width: 650px;
  height: 430px;
  position: absolute;
  top: 10%;
  left: 11%;
  border-radius: 30px;
  background-color: #666;
}
.mockup .mobile-mockup:before {
  /*    border: 1px solid red; */
  content: "";
  position: absolute;
  width: 97.5%;
  height: 98.5%;
  border-radius: 27px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.mockup .mobile-mockup .iframe-url {
  position: absolute;
  width: 568px;
  height: 400px;
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.mockup .mobile-mockup .iframe-url iframe {
  width: 100%;
  height: 100%;
}

.result{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0%;
  right: -80%;
}
.result li:nth-of-type(2){
  width: 400px;
  height: 272px;
  overflow: hidden;
  box-shadow: 0 0 3px #ddd;
  margin-top: 15px;
}
.result img{
  width: 400px;
  height: auto;
}
.result h2{
  font-family: 'Cafe24Ssurround';
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-align: center;
  margin-top: 20px;
}
.result p{
  color: #555;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8em;
}
.result strong{
  color: #444;
}
.result li:nth-of-type(3){
  margin-top: 15px;
}
.result li:last-of-type{
  margin-top: 3x;
}

.result a{
  width: 80px;
  height: auto;
  margin-top: 10px;
  margin-right: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform:capitalize;
  padding: 0.8em 1.5em;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  background: #fff;
  border: 2px solid #023F92;
  transform: translate(0em, 0.75em);
  color: #023F92;
  cursor: pointer;
  position: absolute;
  bottom: 2%;
  right: 0%;
  transition: 0.5s;
}
.result a:hover{
  background-color: #023F92;
  color: #fff;
}




/* Graphic Design */
#graphicdesign{
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
#graphicdesign h1{
    position: relative;
    top: 20%;
    left: 11%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    text-transform: capitalize;
    color: #073099;
}

.item_list{ 
	width: 80%;
  height: fit-content;
  box-sizing: border-box;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.item_list li{
	display: inline-block;
	width: 300px; 
	height:220px; 
	margin-left:20px;
	margin-bottom:20px;
  overflow: hidden;
  position: relative;
}
.item_list li::after{
  content: '';
  position: absolute;
  width: 300px;
  height: 220px;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
}
.item_list li:hover::after{
  opacity: 0.8;
  transition: 0.5s;
}
.item_list li a{
	font-size:30px;
	font-weight:bold;
	color:#fff;
}
.item_list li h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  z-index: 99999;
  opacity: 0;
}
.item_list li:hover h2{
  opacity: 1;
  transition: 0.5s;
}
.item_list li:nth-last-of-type(4){
  height: 460px;
  position: relative;
  bottom: -240px;
}
.item_list li:nth-of-type(4)::after{
  content: '';
  position: absolute;
  width: 300px;
  height: 460px;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
}
.item_list li:nth-of-type(4):hover::after{
  opacity: 0.8;
  transition: 0.5s;
}

/* POPUP BOX ---------------------*/

#popup{ /*검정배경*/
	display:none; 
	position:fixed; 
	left:0; 
	top:0;
	width:100%; 
	height:100%; 
	background:rgba(0,0,0,0.7); 
	z-index:1000;
	overflow-y:scroll; 
	/*auto로 하면 스크롤바의 폭때문에 콘텐츠와 버튼사이의 간격이 생김->버튼위치맞춤*/
}

/*각 목록별 나오는 모달팝업 내용 나오는 부분*/

.pop_body{   /*팝업내용박스*/
	position:relative;
	height:100%;	
	margin:0 auto;
	width:1000px;
	background:#fff;
	z-index:10000;
}
.pop>li{
	width:1000px;
	position:absolute;
	text-align:center;
	background:#fff;
	display:none;
}
.pop>li p{
	text-align:center;
	font-size:30px;
}

/*버튼영역*/ 
.m_btn{
	position:fixed;
	left:50%;
	top:0px;
	margin-left:498px;
	width:80px;
	height:150px;
	color:#fff;
	text-align:center;
	overflow:hidden;
	z-index:10000;
}
.m_btn>li{
	cursor:pointer;
	overflow:hidden;
	background: #073099;
}
.m_btn>li:hover{background: #073099;}

 /*닫기버튼*/
.m_btn .btn_close{
	height:70px;
	width:80px;
	cursor:pointer;
	border-bottom:1px solid #fff;
}
.m_btn .btn_close i{  /*아이콘폰트*/
	position:relative;
	top:15px;
	font-size:40px;
}

/*다음이전 버튼*/

.m_btn .left_btn, .m_btn .right_btn{float:left;}
.m_btn .left_btn i,.m_btn .right_btn i{ 
	position:relative;
	top:10px;
	font-size:30px;	
	width:40px;
	height:50px;	
}
.m_btn .g_page{  /*Page번호*/
	font-size:12px;
	color:#fff;
	width:80px;
	padding-top:10px;
	height:50px;
	text-align:center;
}



/* UI/UX */
#uiux{
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
#uiux h1{
  position: relative;
  top: 25%;
  left: 11%;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  text-transform: capitalize;
  color: #073099;
}
/* TabContentss */

.tabContentss>div.active{display: block;}
.tabContentss div{display: none;}

.btns{
  width: 90%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: auto;
  margin-left: 50px;
  margin-top: 230px;
}

.btns li{
  display: inline-block;
  width: 10%;
  height: auto;
  font-size: 15px;
  margin-right: 10px;
  font-family: 'Cafe24Ssurround';
  font-weight: 500;
  color: #59C1BD;
  text-transform: uppercase;
  padding: 1.25em 1.5em;
  background: #CFF5E7;
  border: 2px solid #59C1BD;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  text-align: center;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.btns li::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #a7f1d6;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #59C1BD, 0 0.625em 0 0 #CFF5E7;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.btns li:hover {
  background: #CFF5E7;
  transform: translate(0, 0.25em);
}
.btns li:hover::before {
  box-shadow: 0 0 0 2px #59C1BD, 0 0.5em 0 0 #CFF5E7;
  transform: translate3d(0, 0.5em, -1em);
}
.btns li.active {
  background: #023F92;
  border: 1px solid #023F92;
  transform: translate(0em, 0.75em);
  color: #fff;
}
.btns li.active::before {
  box-shadow: 0 0 0 2px #59C1BD, 0 0 #CFF5E7;
  transform: translate3d(0, 0, -1em);
}

.tabContentss {
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.uiux-result{
  float: left;
  width: 350px;
  height: 230px;
  overflow: hidden;
  box-shadow: 0 0 3px #ddd;
  margin-top: 60px;
  padding: 30px
}
.uiux-result h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  margin-bottom: 15px;
}
.uiux-result p{
  color: #555;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8em;
}
.personalwork p{
  margin-top: 10px;
  font-size: 11px;
  font-weight: 400;
}
.uiux-result strong{
  color: #444;
}
.uiux-result li:nth-of-type(6),
.uiux-result li:nth-of-type(7),
.uiux-result li:nth-of-type(8)
{
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
  width: 70px;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform:capitalize;
  padding: 0.8em 1em;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  background: #fff;
  border: 2px solid #023F92;
  transform: translate(0em, 0.75em);
  color: #023F92;
  cursor: pointer;
  transition: 0.5s;
}
.uiux-result li:nth-of-type(6):hover,
.uiux-result li:nth-of-type(7):hover,
.uiux-result li:nth-of-type(8):hover{
  background-color: #023F92;
  color: #fff;
}

.uiux-image{
  float: right;
  width: 560px;
  height: 350px;
  overflow: hidden;
  margin-left: 130px;
  margin-right: 70px;
}
.uiux-image img{
  width: 560px;
  height: auto;
}

#tabs4 .uiux-image{
  box-shadow: 0 0 1px #666;
}

/* footer */
footer{
  width: 100%;
  height: 200px;
  background-color: #333;
}
footer h1{
  width: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
  color: #59C1BD;
}