.mockup .mobile-mockup {
  border: 1px solid #eee;
  width: 1000px;
  height: 620px;
  position: relative;
  border-radius: 30px;
  background-color: #666;
}
.mockup .mobile-mockup:before {
  /*    border: 1px solid red; */
  content: "";
  position: absolute;
  width: 97.5%;
  height: 98.5%;
  border-radius: 27px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.mockup .mobile-mockup .iframe-url {
  position: absolute;
  width: 900px;
  height: 550px;
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.mockup .mobile-mockup .iframe-url iframe {
  width: 100%;
  height: 100%;
}
.mockup .mobile-mockup .volume {
  /* border: 1px solid red; */
  position: absolute;
  width: 7px;
  height: 150px;
  top: 87px;
  right: 100%;
}
.mockup .mobile-mockup .volume span {
  position: absolute;
  width: 7px;
  height: 40px;
  border-radius: 0 5px 5px 0;
  transform: rotateY("180deg");
  /* background-color: blue; */
}
.mockup .mobile-mockup .volume span:nth-child(1) {
  top: 0;
  height: 25px;
}
.mockup .mobile-mockup .volume span:nth-child(2) {
  bottom: 55px;
}
.mockup .mobile-mockup .volume span {
  background-color: #ddd;
}